# Data Preparation

In this step we read in the data set from different .csv files, have a look inot the data and merge them into on pandas dataframe.

In [2]:
# we will work with pandas
import pandas as pd

## Bakery sales data set

In [14]:
# load the sales dataset
sales_data = pd.read_csv('../bakery_sales_data/umsatzdaten_gekuerzt.csv')

# show some sample information to get an idea of the content
print(sales_data.head(3))
print("\n")
print(sales_data.tail(3))
print("\n")
print(sales_data.sample(5))
print("\n")
sales_data.info()

        Datum  Warengruppe      Umsatz
0  2013-07-01            1  148.828353
1  2013-07-02            1  159.793757
2  2013-07-03            1  111.885594


           Datum  Warengruppe     Umsatz
9331  2017-12-23            6  84.062223
9332  2017-12-24            6  60.981969
9333  2017-12-27            6  34.972644


           Datum  Warengruppe      Umsatz
7328  2013-10-14            5  270.419719
6346  2016-02-11            4  213.646592
4631  2016-04-08            3  120.523885
2581  2015-08-16            2  590.489205
1252  2016-12-30            1  130.743679


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9334 entries, 0 to 9333
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Datum        9334 non-null   object
 1   Warengruppe  9334 non-null   int64
 2   Umsatz       9334 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 218.9+ KB

### Analysis of the content
The data are sales figures, presumably in euros, broken down by product group and per day.

## Weather data

In [15]:
# load the weather dataset
weather_data = pd.read_csv('../bakery_sales_data/wetter.csv')

# show some sample information to get an idea of the content
print(weather_data.head(3))
print("\n")
print(weather_data.tail(3))
print("\n")
print(weather_data.sample(5))
print("\n")
weather_data.info()

        Datum  Bewoelkung  Temperatur  Windgeschwindigkeit  Wettercode
0  2012-01-01         8.0      9.8250                   14        58.0
1  2012-01-02         7.0      7.4375                   12         NaN
2  2012-01-03         8.0      5.5375                   18        63.0


           Datum  Bewoelkung  Temperatur  Windgeschwindigkeit  Wettercode
2598  2019-07-30         7.0     20.7375                    8        61.0
2599  2019-07-31         6.0     20.4500                    7        61.0
2600  2019-08-01         5.0     21.0625                    9        61.0


           Datum  Bewoelkung  Temperatur  Windgeschwindigkeit  Wettercode
1424  2016-04-26         7.0      2.5000                    7        75.0
1867  2017-07-14         3.0     19.5000                    8         NaN
2414  2019-01-26         7.0      3.8375                    7        61.0
1962  2017-10-19         6.0     14.8500                    9        10.0
947   2015-01-05         8.0      5.8750                    8        20.0


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2601 entries, 0 to 2600
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Datum                2601 non-null   object
 1   Bewoelkung           2591 non-null   float64
 2   Temperatur           2601 non-null   float64
 3   Windgeschwindigkeit  2601 non-null   int64
 4   Wettercode           1932 non-null   float64
dtypes: float64(3), int64(1), object(1)
memory usage: 101.7+ KB

### Analysis of the content
Each entry in the data represents weather observations for a specific day at a specific location.

# Kieler Woche data

In [16]:
# load the kiwo dataset
kiwo_data = pd.read_csv('../bakery_sales_data/kiwo.csv')

# show some sample information to get an idea of the content
print(kiwo_data.head(3))
print("\n")
print(kiwo_data.tail(3))
print("\n")
print(kiwo_data.sample(5))
print("\n")
kiwo_data.info()

        Datum  KielerWoche
0  2012-06-16            1
1  2012-06-17            1
2  2012-06-18            1


         Datum  KielerWoche
69  2019-06-28            1
70  2019-06-29            1
71  2019-06-30            1


         Datum  KielerWoche
12  2013-06-25            1
27  2015-06-20            1
34  2015-06-27            1
62  2018-06-24            1
70  2019-06-29            1


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Datum        72 non-null     object
 1   KielerWoche  72 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.2+ KB

### Analysis of the content
The dates list the days on which the "Kieler Woche", a major local event, took place.

## Merge of the three datasets
We will use sales data as base table and left join wetherdata and kiwo data together.

In [21]:
bakery_sales_prediction_data = sales_data.merge(weather_data, on='Datum', how='left') \
    .merge(kiwo_data, on='Datum', how='left')

# show sample data
print(bakery_sales_prediction_data.head(3))
print("\n")
print(bakery_sales_prediction_data.tail(3))
print("\n")
print(bakery_sales_prediction_data.sample(5))
print("\n")
bakery_sales_prediction_data.info()

        Datum  Warengruppe      Umsatz  Bewoelkung  Temperatur  \
0  2013-07-01            1  148.828353         6.0     17.8375
1  2013-07-02            1  159.793757         3.0     17.3125
2  2013-07-03            1  111.885594         7.0     21.0750

   Windgeschwindigkeit  Wettercode  KielerWoche
0                 15.0        20.0          NaN
1                 10.0         NaN          NaN
2                  6.0        61.0          NaN


           Datum  Warengruppe     Umsatz  Bewoelkung  Temperatur  \
9331  2017-12-23            6  84.062223         7.0      7.8000
9332  2017-12-24            6  60.981969         7.0      8.1125
9333  2017-12-27            6  34.972644         7.0      4.6125

      Windgeschwindigkeit  Wettercode  KielerWoche
9331                 19.0        61.0          NaN
9332                 16.0        61.0          NaN
9333                  7.0        21.0          NaN


           Datum  Warengruppe      Umsatz  Bewoelkung  Temperatur  \
6813  2017-06-08            4   73.570490         7.0     14.8750
135   2013-11-13            1   78.038248         1.0      8.8000
4578  2016-02-13            3  100.464403         6.0      2.0000
7971  2015-08-02            5  313.031625         0.0     21.5000
2101  2014-04-13            2  631.475801         6.0     11.0125

      Windgeschwindigkeit  Wettercode  KielerWoche
6813                  8.0        61.0          NaN
135                  12.0         0.0          NaN
4578                  8.0        20.0          NaN
7971                  8.0         NaN          NaN
2101                 21.0         NaN          NaN


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9334 entries, 0 to 9333
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Datum                9334 non-null   object
 1   Warengruppe          9334 non-null   int64
 2   Umsatz               9334 non-null   float64
 3   Bewoelkung           9264 non-null   float64
 4   Temperatur           9318 non-null   float64
 5   Windgeschwindigkeit  9318 non-null   float64
 6   Wettercode           7009 non-null   float64
 7   KielerWoche          223 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 583.5+ KB